* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

h1, h2 {
    margin-bottom: 15px;
}

.error {
    margin: 0 auto;
    font-size: 20pt;
    text-align: center;
    background-color: red;
    border: 2px solid black;
    width: 220px;
    height: 220px;
    vertical-align: middle;
}

    .error p {
        color: white;
        font-weight: bold;
        margin-top: 44%;
    }

.success {
    margin: 0 auto;
    font-size: 20pt;
    text-align: center;
    background-color: green;
    border: 2px solid black;
    width: 220px;
    height: 220px;
}

    .success p {
        color: white;
        font-weight: bold;
        margin-top: 33%;
        margin-bottom: 12%;
    }

form {
    padding-top: 15px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

    form #number {
        border: 2px solid black;
        width: 100%;
        height: 20px;
        margin-bottom: 10px;
    }

.button {
    padding: 5px;
    display: block;
    margin: 0 auto;
}
